cmake-build-debug
input*
sdi1500050
25-7-2013
.idea/
input_dir
CMakeLists.txt
LargeCountriesFile
AnnaAikateriniKavvadaProject2
*.o
aux
names
surnames
countriesFile
diseaseFile
create_infiles.sh
queries.txt
commands
master
whoClient
diseaseMonitor_worker
whoServer
queryGenerator.py